# Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore embedded Python third-party packages, except whitelisted libraries
/python/Lib/site-packages/*
!/python/Lib/site-packages/searx/
!/python/Lib/site-packages/searx/**
!/python/Lib/site-packages/searxng_extra/
!/python/Lib/site-packages/searxng_extra/**
!/python/Lib/site-packages/valkey/
!/python/Lib/site-packages/valkey/**

# Keep pip and its files in repository, but keep bytecode ignored.
!/python/Lib/site-packages/pip/
!/python/Lib/site-packages/pip-26.1.dist-info/
!/python/Scripts/pip.exe
!/python/Scripts/pip3.exe
!/python/Scripts/pip3.11.exe

# Keep bytecode ignored even inside whitelisted packages
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Ignore embedded Python scripts
/python/Scripts/*
